In [1]:
import pandas as pd
import numpy as np
import time

In [8]:
taxi = pd.read_csv("taxi_fix.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
len(taxi)

105936869

In [4]:
taxi = taxi.drop_duplicates(["X_MAX", "Y_MAX"])

In [5]:
len(taxi)

36444

In [7]:
taxi.to_csv("taxi_del_duplicates")

In [9]:
taxi.head(2)

,Unnamed: 0,Day,Time,Weather,Dest,CntOn,CntOff,CntEmp,X_MAX,Y_MAX,X_MIN,Y_MIN,X_PART,Y_PART
0,T_146396,1,0,-1,NaN,NaN,12.0,309.0,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^
1,T_146396,1,0,-1,1111,2.0,NaN,NaN,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^

In [7]:
taxi.head(2)

Unnamed: 0,Unnamed: 0,Day,Time,Weather,Dest,CntOn,CntOff,CntEmp,X_MAX,Y_MAX,X_MIN,Y_MIN,X_PART,Y_PART
0,T_146396,1,0,-1,NaN,NaN,12.0,309.0,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^
1,T_146396,1,0,-1,1111,2.0,NaN,NaN,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^

In [1]:
taxi.rename(columns = {'Unnamed: 0': 'T_LINK'}, inplace =True)

NameError: name 'taxi' is not defined

In [13]:
taxi.head(2)

,Unnamed: 0,Day,Time,Weather,Dest,CntOn,CntOff,CntEmp,X_MAX,Y_MAX,X_MIN,Y_MIN,X_PART,Y_PART
0,T_146396,1,0,-1,NaN,NaN,12.0,309.0,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^
1,T_146396,1,0,-1,1111,2.0,NaN,NaN,127.029931,37.608843,127.029098,37.607772,127.0299312^127.0298495^127.0296241^127.0290984^,37.6088426^37.6087194^37.6084175^37.6077722^

In [12]:
hi= [np.array(taxi.T_LINK),np.array(taxi.Day), np.array(taxi.Time), 
     np.array(taxi.CntOn), np.array(taxi.CntOff), np.array(taxi.CntEmp), 
     np.array(taxi.X_MAX), np.array(taxi.Y_MAX)]

AttributeError: 'DataFrame' object has no attribute 'T_LINK'

In [ ]:
def tapseung(time, day=1):
    _sum =0
    i=0
    for i in range(999999):
        if hi[2][i]!=hi[2][i+1]or hi[0][i] !=hi[0][i+1] or hi[1][i]!=hi[1][i+1]:
            name.append([{hi[0][i]:_sum},{'Day':hi[1][i]},{"Time":hi[2][i]},{'i':i}, {"X_MAX":hi[6][i]},{"Y_MAX":hi[7][i]}])
            _sum = 0

        if hi[0][i] ==hi[0][i+1] and hi[1][i]==day and hi[2][i]==time:
            _sum +=(hi[3][i]+hi[4][i]+hi[5][i])
    return _sum