In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import re
import time

In [54]:
juyuso = pd.read_csv("juyuso.csv", encoding="utf-8")

In [3]:
juyuso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 19 columns):
번호         539 non-null int64
사업장명       539 non-null object
소재지전체주소    535 non-null object
도로명전체주소    522 non-null object
개업일자       539 non-null int64
영업상태명      539 non-null object
폐업일자       0 non-null float64
휴업시작일자     103 non-null float64
휴업종료일자     103 non-null float64
재개업일자      80 non-null float64
소재지면적      502 non-null float64
소재지우편번호    0 non-null float64
사업개시예정일    539 non-null int64
사업구분명      539 non-null object
인가상태명      0 non-null float64
전화번호       521 non-null object
위치정보(X)    530 non-null float64
위치정보(Y)    530 non-null float64
상세영업상태명    539 non-null object
dtypes: float64(9), int64(3), object(7)
memory usage: 80.1+ KB

In [55]:
juyuso = juyuso.drop(["폐업일자","휴업종료일자","번호","개업일자","영업상태명","폐업일자","휴업시작일자","휴업종료일자","재개업일자","소재지우편번호","사업개시예정일","사업구분명","인가상태명","전화번호","상세영업상태명"], axis=1)

In [56]:
juyuso.drop(["위치정보(X)","위치정보(Y)"],axis=1,inplace=True)

In [57]:
juyuso

,사업장명,소재지전체주소,도로명전체주소,소재지면적
0,광호주유소,서울특별시 서대문구 홍은동 431번지,서울특별시 서대문구 연희로 266 (홍은동),1577.00
1,(주)안국에너지 삼보주유소,서울특별시 서대문구 연희동 194-32번지,서울특별시 서대문구 연희로 78 (연희동),1074.40
2,(주)중앙에너비스동교지점,서울특별시 서대문구 창천동 512-3번지,서울특별시 서대문구 연희로 12 (창천동),567.60
3,연희주유소,서울특별시 서대문구 연희동 89-7번지,서울특별시 서대문구 연희로 129 (연희동),988.40
4,삼미상사(주) 서부주유소,서울특별시 서대문구 연희동 446-4번지,서울특별시 서대문구 성산로 255 (연희동),1260.00
5,홍제동주유소,서울특별시 서대문구 홍제동 22-3번지,서울특별시 서대문구 통일로 372 (홍제동),826.00
6,행촌 제2주유소,서울특별시 서대문구 대신동 16-7번지,서울특별시 서대문구 성산로 490 (대신동),759.30
7,(주)마봉 신우주유소,서울특별시 서대문구 홍은동 379-6번지,서울특별시 서대문구 가좌로 106 (홍은동),709.00
8,남정주유소,서울특별시 서대문구 남가좌동 329-34번지,서울특별시 서대문구 모래내로 243 (남가좌동),332.20
9,(주)창원현대주유소,서울특별시 서대문구 홍은동 171-5번지,서울특별시 서대문구 통일로 537 (홍은동),947.00
10,(주)창원현대에너지 홍제지점 현대주유소,서울특별시 서대문구 홍제동 330-61번지,서울특별시 서대문구 통일로 455 (홍제동),415.37
11,KH에너지(주) 직영 독립문주유소,서울특별시 서대문구 홍제동 103-9번지,서울특별시 서대문구 통일로 384 (홍제동),857.16
12,문화촌주유소,서울특별시 서대문구 홍제동 279-43번지,서울특별시 서대문구 세검정로 87 (홍제동),617.00
13,구도일주유소 두꺼비,서울특별시 서대문구 연희동 220-55번지,서울특별시 서대문구 성산로 312 (연희동),1235.00
14,연세주유소,서울특별시 서대문구 연희동 76-11번지,서울특별시 서대문구 연희로 184 (연희동),482.00
15,㈜가재울뉴타운주유소,서울특별시 서대문구 남가좌동 80-26번지,서울특별시 서대문구 모래내로 205 (남가좌동),410.00
16,수색뉴타운 주유소,서울특별시 은평구 수색동 314-1번지,서울특별시 은평구 수색로 350 (수색동),886.00
17,녹번주유소,서울특별시 은평구 녹번동 59-1번지,서울특별시 은평구 통일로 600 (녹번동),657.00
18,대성주유소,서울특별시 은평구 녹번동 19-38번지,서울특별시 은평구 통일로 642 (녹번동),1944.00
19,은평뉴타운주유소,서울특별시 은평구 불광동 493번지,서울특별시 은평구 통일로 924 (불광동),661.00
20,박석고개주유소,서울특별시 은평구 갈현동 1-6번지,서울특별시 은평구 통일로 945 (갈현동),1962.00
21,서부주유소,서울특별시 은평구 응암동 576-39번지,서울특별시 은평구 응암로 210 (응암동),1132.00
22,성원E&S은평지점,서울특별시 은평구 진관동 240-27번지,서울특별시 은평구 통일로 968 (진관동),745.40
23,SK네트웍스(주) 은평드림주유소,서울특별시 은평구 진관동 73-22번지,서울특별시 은평구 통일로 1151 (진관동),707.10
24,(주)에스지,서울특별시 은평구 신사동 338-4번지,서울특별시 은평구 증산로 371 (신사동),1381.50
25,뉴타운 셀프주유소,NaN,서울특별시 은평구 통일로 1031 (진관동),800.00
26,행운주유소,서울특별시 관악구 봉천동 1679-30번지,서울특별시 관악구 남부순환로 1883 (봉천동),663.11
27,(주)엠오티이엔지 직영 삼화주유소,서울특별시 관악구 봉천동 726-10번지,서울특별시 관악구 보라매로 41 (봉천동),242.00
28,SK네트웍스(주)하계주유소,서울특별시 노원구 하계동 243-3번지,서울특별시 노원구 노원로17길 29 (하계동),1072.00
29,신성주유소,서울특별시 노원구 월계동 295-4번지 29호 30호,서울특별시 노원구 월계로 328 (월계동 29호 30호),1816.00
...,...,...,...,...
509,선우상사 삼전주유소,서울특별시 송파구 삼전동 7-8번지,서울특별시 송파구 백제고분로 199 (삼전동),1343.00
510,잠실주유소,서울특별시 송파구 송파동 19-1번지,서울특별시 송파구 송파대로 442 (송파동),872.50
511,우리주유소,서울특별시 송파구 가락동 137-9번지,서울특별시 송파구 동남로 153 (가락동),708.90
512,상아주유소,서울특별시 송파구 마천동 49-11번지 12호,서울특별시 송파구 거마로 82 (마천동),NaN
513,남성대주유소,서울특별시 송파구 장지동 645-13번지,서울특별시 송파구 송파대로 52 (장지동),1764.00
514,완불주유소,서울특별시 송파구 장지동 608-5번지,서울특별시 송파구 송파대로 3 (장지동),1951.00
515,진양주유소,서울특별시 송파구 풍납동 401-6번지,서울특별시 송파구 올림픽로 499 (풍납동),NaN
516,한강에너지(주)퍼스트주유소,서울특별시 송파구 석촌동 217-17번지,서울특별시 송파구 삼학사로 22 (석촌동),NaN
517,SK네트웍스(주) 송파주유소,서울특별시 송파구 거여동 26-1번지,서울특별시 송파구 거마로 5 (거여동),920.50
518,SK네트웍스(주) 올림픽주유소,서울특별시 송파구 오금동 4-1번지,서울특별시 송파구 위례성대로 188 (오금동),1077.40
519,(주)지에스이앤알송파제일주유소,서울특별시 송파구 석촌동 210-16번지,서울특별시 송파구 삼학사로 50 (석촌동),734.00
520,(주)삼정석유 삼정주유소,서울특별시 송파구 삼전동 72-2번지,서울특별시 송파구 백제고분로 252 (삼전동),837.40
521,송파주유소,서울특별시 송파구 송파동 174-16번지,서울특별시 송파구 송이로 28 (송파동),793.40
522,가락로주유소,서울특별시 송파구 석촌동 239-8번지,서울특별시 송파구 가락로 47 (석촌동),1151.50
523,SK네트웍스(주) 서원주유소,서울특별시 송파구 가락동 146-6번지,서울특별시 송파구 중대로 154 (가락동),700.80
524,백제고분로주유소,서울특별시 송파구 방이동 109-6번지,서울특별시 송파구 오금로 143 (방이동),727.27
525,(주)뉴명성산업 남성주유소,서울특별시 송파구 방이동 149-3번지,서울특별시 송파구 백제고분로 474 (방이동),661.00
526,송파알찬주유소,서울특별시 송파구 삼전동 9-8번지,서울특별시 송파구 백제고분로 229 (삼전동),845.00
527,(주)삼표에너지훼미리주유소,서울특별시 송파구 문정동 150-21번지,서울특별시 송파구 중대로 58 (문정동),665.00
528,(주)유진주유소,서울특별시 송파구 오금동 121-1번지,서울특별시 송파구 동남로 325 (오금동),799.40
529,(주)삼표에너지 아시아주유소,서울특별시 송파구 잠실동 305-11번지,서울특별시 송파구 도곡로 438 (잠실동),2559.00
530,대성석유(주)석촌주유소,서울특별시 송파구 석촌동 14-12번지,서울특별시 송파구 백제고분로 289 (석촌동),541.00
531,인광주유소,서울특별시 송파구 석촌동 295번지,서울특별시 송파구 송파대로 397 (석촌동),575.90
532,서울주유소,서울특별시 송파구 가락동 180-4번지,서울특별시 송파구 문정로 153 (가락동),286.80
533,대성주유소,서울특별시 송파구 마천동 31번지,서울특별시 송파구 마천로 230 (마천동),655.80
534,삼화셀프주유소,서울특별시 송파구 잠실동 222-31번지,서울특별시 송파구 백제고분로 125 (잠실동),628.10
535,제트라인DM주유소,서울특별시 송파구 가락동 36-7번지,서울특별시 송파구 중대로 183 (가락동),311.00
536,정직한주유소,서울특별시 송파구 거여동 19-4번지,서울특별시 송파구 오금로 455 (거여동),642.60
537,가든파이브주유소,서울특별시 송파구 장지동 875-1번지,서울특별시 송파구 탄천동로 740 (장지동),2108.00
538,가든5주유소,서울특별시 송파구 장지동 245-21번지 외11필지,NaN,2108.00

In [58]:
juyuso["시"] = juyuso["소재지전체주소"]

In [59]:
juyuso

,사업장명,소재지전체주소,도로명전체주소,소재지면적,시
0,광호주유소,서울특별시 서대문구 홍은동 431번지,서울특별시 서대문구 연희로 266 (홍은동),1577.00,서울특별시 서대문구 홍은동 431번지
1,(주)안국에너지 삼보주유소,서울특별시 서대문구 연희동 194-32번지,서울특별시 서대문구 연희로 78 (연희동),1074.40,서울특별시 서대문구 연희동 194-32번지
2,(주)중앙에너비스동교지점,서울특별시 서대문구 창천동 512-3번지,서울특별시 서대문구 연희로 12 (창천동),567.60,서울특별시 서대문구 창천동 512-3번지
3,연희주유소,서울특별시 서대문구 연희동 89-7번지,서울특별시 서대문구 연희로 129 (연희동),988.40,서울특별시 서대문구 연희동 89-7번지
4,삼미상사(주) 서부주유소,서울특별시 서대문구 연희동 446-4번지,서울특별시 서대문구 성산로 255 (연희동),1260.00,서울특별시 서대문구 연희동 446-4번지
5,홍제동주유소,서울특별시 서대문구 홍제동 22-3번지,서울특별시 서대문구 통일로 372 (홍제동),826.00,서울특별시 서대문구 홍제동 22-3번지
6,행촌 제2주유소,서울특별시 서대문구 대신동 16-7번지,서울특별시 서대문구 성산로 490 (대신동),759.30,서울특별시 서대문구 대신동 16-7번지
7,(주)마봉 신우주유소,서울특별시 서대문구 홍은동 379-6번지,서울특별시 서대문구 가좌로 106 (홍은동),709.00,서울특별시 서대문구 홍은동 379-6번지
8,남정주유소,서울특별시 서대문구 남가좌동 329-34번지,서울특별시 서대문구 모래내로 243 (남가좌동),332.20,서울특별시 서대문구 남가좌동 329-34번지
9,(주)창원현대주유소,서울특별시 서대문구 홍은동 171-5번지,서울특별시 서대문구 통일로 537 (홍은동),947.00,서울특별시 서대문구 홍은동 171-5번지
10,(주)창원현대에너지 홍제지점 현대주유소,서울특별시 서대문구 홍제동 330-61번지,서울특별시 서대문구 통일로 455 (홍제동),415.37,서울특별시 서대문구 홍제동 330-61번지
11,KH에너지(주) 직영 독립문주유소,서울특별시 서대문구 홍제동 103-9번지,서울특별시 서대문구 통일로 384 (홍제동),857.16,서울특별시 서대문구 홍제동 103-9번지
12,문화촌주유소,서울특별시 서대문구 홍제동 279-43번지,서울특별시 서대문구 세검정로 87 (홍제동),617.00,서울특별시 서대문구 홍제동 279-43번지
13,구도일주유소 두꺼비,서울특별시 서대문구 연희동 220-55번지,서울특별시 서대문구 성산로 312 (연희동),1235.00,서울특별시 서대문구 연희동 220-55번지
14,연세주유소,서울특별시 서대문구 연희동 76-11번지,서울특별시 서대문구 연희로 184 (연희동),482.00,서울특별시 서대문구 연희동 76-11번지
15,㈜가재울뉴타운주유소,서울특별시 서대문구 남가좌동 80-26번지,서울특별시 서대문구 모래내로 205 (남가좌동),410.00,서울특별시 서대문구 남가좌동 80-26번지
16,수색뉴타운 주유소,서울특별시 은평구 수색동 314-1번지,서울특별시 은평구 수색로 350 (수색동),886.00,서울특별시 은평구 수색동 314-1번지
17,녹번주유소,서울특별시 은평구 녹번동 59-1번지,서울특별시 은평구 통일로 600 (녹번동),657.00,서울특별시 은평구 녹번동 59-1번지
18,대성주유소,서울특별시 은평구 녹번동 19-38번지,서울특별시 은평구 통일로 642 (녹번동),1944.00,서울특별시 은평구 녹번동 19-38번지
19,은평뉴타운주유소,서울특별시 은평구 불광동 493번지,서울특별시 은평구 통일로 924 (불광동),661.00,서울특별시 은평구 불광동 493번지
20,박석고개주유소,서울특별시 은평구 갈현동 1-6번지,서울특별시 은평구 통일로 945 (갈현동),1962.00,서울특별시 은평구 갈현동 1-6번지
21,서부주유소,서울특별시 은평구 응암동 576-39번지,서울특별시 은평구 응암로 210 (응암동),1132.00,서울특별시 은평구 응암동 576-39번지
22,성원E&S은평지점,서울특별시 은평구 진관동 240-27번지,서울특별시 은평구 통일로 968 (진관동),745.40,서울특별시 은평구 진관동 240-27번지
23,SK네트웍스(주) 은평드림주유소,서울특별시 은평구 진관동 73-22번지,서울특별시 은평구 통일로 1151 (진관동),707.10,서울특별시 은평구 진관동 73-22번지
24,(주)에스지,서울특별시 은평구 신사동 338-4번지,서울특별시 은평구 증산로 371 (신사동),1381.50,서울특별시 은평구 신사동 338-4번지
25,뉴타운 셀프주유소,NaN,서울특별시 은평구 통일로 1031 (진관동),800.00,NaN
26,행운주유소,서울특별시 관악구 봉천동 1679-30번지,서울특별시 관악구 남부순환로 1883 (봉천동),663.11,서울특별시 관악구 봉천동 1679-30번지
27,(주)엠오티이엔지 직영 삼화주유소,서울특별시 관악구 봉천동 726-10번지,서울특별시 관악구 보라매로 41 (봉천동),242.00,서울특별시 관악구 봉천동 726-10번지
28,SK네트웍스(주)하계주유소,서울특별시 노원구 하계동 243-3번지,서울특별시 노원구 노원로17길 29 (하계동),1072.00,서울특별시 노원구 하계동 243-3번지
29,신성주유소,서울특별시 노원구 월계동 295-4번지 29호 30호,서울특별시 노원구 월계로 328 (월계동 29호 30호),1816.00,서울특별시 노원구 월계동 295-4번지 29호 30호
...,...,...,...,...,...
509,선우상사 삼전주유소,서울특별시 송파구 삼전동 7-8번지,서울특별시 송파구 백제고분로 199 (삼전동),1343.00,서울특별시 송파구 삼전동 7-8번지
510,잠실주유소,서울특별시 송파구 송파동 19-1번지,서울특별시 송파구 송파대로 442 (송파동),872.50,서울특별시 송파구 송파동 19-1번지
511,우리주유소,서울특별시 송파구 가락동 137-9번지,서울특별시 송파구 동남로 153 (가락동),708.90,서울특별시 송파구 가락동 137-9번지
512,상아주유소,서울특별시 송파구 마천동 49-11번지 12호,서울특별시 송파구 거마로 82 (마천동),NaN,서울특별시 송파구 마천동 49-11번지 12호
513,남성대주유소,서울특별시 송파구 장지동 645-13번지,서울특별시 송파구 송파대로 52 (장지동),1764.00,서울특별시 송파구 장지동 645-13번지
514,완불주유소,서울특별시 송파구 장지동 608-5번지,서울특별시 송파구 송파대로 3 (장지동),1951.00,서울특별시 송파구 장지동 608-5번지
515,진양주유소,서울특별시 송파구 풍납동 401-6번지,서울특별시 송파구 올림픽로 499 (풍납동),NaN,서울특별시 송파구 풍납동 401-6번지
516,한강에너지(주)퍼스트주유소,서울특별시 송파구 석촌동 217-17번지,서울특별시 송파구 삼학사로 22 (석촌동),NaN,서울특별시 송파구 석촌동 217-17번지
517,SK네트웍스(주) 송파주유소,서울특별시 송파구 거여동 26-1번지,서울특별시 송파구 거마로 5 (거여동),920.50,서울특별시 송파구 거여동 26-1번지
518,SK네트웍스(주) 올림픽주유소,서울특별시 송파구 오금동 4-1번지,서울특별시 송파구 위례성대로 188 (오금동),1077.40,서울특별시 송파구 오금동 4-1번지
519,(주)지에스이앤알송파제일주유소,서울특별시 송파구 석촌동 210-16번지,서울특별시 송파구 삼학사로 50 (석촌동),734.00,서울특별시 송파구 석촌동 210-16번지
520,(주)삼정석유 삼정주유소,서울특별시 송파구 삼전동 72-2번지,서울특별시 송파구 백제고분로 252 (삼전동),837.40,서울특별시 송파구 삼전동 72-2번지
521,송파주유소,서울특별시 송파구 송파동 174-16번지,서울특별시 송파구 송이로 28 (송파동),793.40,서울특별시 송파구 송파동 174-16번지
522,가락로주유소,서울특별시 송파구 석촌동 239-8번지,서울특별시 송파구 가락로 47 (석촌동),1151.50,서울특별시 송파구 석촌동 239-8번지
523,SK네트웍스(주) 서원주유소,서울특별시 송파구 가락동 146-6번지,서울특별시 송파구 중대로 154 (가락동),700.80,서울특별시 송파구 가락동 146-6번지
524,백제고분로주유소,서울특별시 송파구 방이동 109-6번지,서울특별시 송파구 오금로 143 (방이동),727.27,서울특별시 송파구 방이동 109-6번지
525,(주)뉴명성산업 남성주유소,서울특별시 송파구 방이동 149-3번지,서울특별시 송파구 백제고분로 474 (방이동),661.00,서울특별시 송파구 방이동 149-3번지
526,송파알찬주유소,서울특별시 송파구 삼전동 9-8번지,서울특별시 송파구 백제고분로 229 (삼전동),845.00,서울특별시 송파구 삼전동 9-8번지
527,(주)삼표에너지훼미리주유소,서울특별시 송파구 문정동 150-21번지,서울특별시 송파구 중대로 58 (문정동),665.00,서울특별시 송파구 문정동 150-21번지
528,(주)유진주유소,서울특별시 송파구 오금동 121-1번지,서울특별시 송파구 동남로 325 (오금동),799.40,서울특별시 송파구 오금동 121-1번지
529,(주)삼표에너지 아시아주유소,서울특별시 송파구 잠실동 305-11번지,서울특별시 송파구 도곡로 438 (잠실동),2559.00,서울특별시 송파구 잠실동 305-11번지
530,대성석유(주)석촌주유소,서울특별시 송파구 석촌동 14-12번지,서울특별시 송파구 백제고분로 289 (석촌동),541.00,서울특별시 송파구 석촌동 14-12번지
531,인광주유소,서울특별시 송파구 석촌동 295번지,서울특별시 송파구 송파대로 397 (석촌동),575.90,서울특별시 송파구 석촌동 295번지
532,서울주유소,서울특별시 송파구 가락동 180-4번지,서울특별시 송파구 문정로 153 (가락동),286.80,서울특별시 송파구 가락동 180-4번지
533,대성주유소,서울특별시 송파구 마천동 31번지,서울특별시 송파구 마천로 230 (마천동),655.80,서울특별시 송파구 마천동 31번지
534,삼화셀프주유소,서울특별시 송파구 잠실동 222-31번지,서울특별시 송파구 백제고분로 125 (잠실동),628.10,서울특별시 송파구 잠실동 222-31번지
535,제트라인DM주유소,서울특별시 송파구 가락동 36-7번지,서울특별시 송파구 중대로 183 (가락동),311.00,서울특별시 송파구 가락동 36-7번지
536,정직한주유소,서울특별시 송파구 거여동 19-4번지,서울특별시 송파구 오금로 455 (거여동),642.60,서울특별시 송파구 거여동 19-4번지
537,가든파이브주유소,서울특별시 송파구 장지동 875-1번지,서울특별시 송파구 탄천동로 740 (장지동),2108.00,서울특별시 송파구 장지동 875-1번지
538,가든5주유소,서울특별시 송파구 장지동 245-21번지 외11필지,NaN,2108.00,서울특별시 송파구 장지동 245-21번지 외11필지

In [47]:
driver =webdriver.Chrome()
driver.get("https://map.google.com")

In [164]:
len(juyuso)-1

538

In [51]:
driver.find_element_by_css_selector("#gs_lc50 .tactile-searchbox-input").clear()

In [62]:
juyu_location = list()
# 정규식으로 처리
p=re.compile(r'(@+.+,)')
i=0

for i in range(len(juyuso)):
    # 주소 뽑는 매크로
    
    if juyuso.iloc[i][2]=="NaN":
        driver.find_element_by_css_selector("#gs_lc50 .tactile-searchbox-input").send_keys(str(juyuso.iloc[i][1]))
    else:
        driver.find_element_by_css_selector("#gs_lc50 .tactile-searchbox-input").send_keys(str(juyuso.iloc[i][2]))
    
    
    time.sleep(0.1)
    driver.find_element_by_class_name("searchbox-searchbutton").click()
    time.sleep(2.5)
    driver.find_element_by_css_selector("#gs_lc50 .tactile-searchbox-input").clear()
    time.sleep(0.1)
    url=driver.current_url
    time.sleep(0.1)

    #좌표 정리
    location = p.findall(url)
    location=location[0].replace("@", '')
    location=location.split(",")
    del(location[2])
    
    
    juyu_location.append([juyuso.iloc[i][0],juyuso.iloc[i][1],juyuso.iloc[i][2],location])

In [66]:
pd.DataFrame(juyu_location).to_csv("11.csv")

In [71]:
juyu_location_raw = juyu_location.copy()

In [72]:
juyu_location_raw_1=juyu_location

In [84]:
juyu_location[2][-1][1]

'126.9304364'

In [85]:
count = 0
for i in range(len(juyu_location)-1):
    if juyu_location[i][-1][1] == juyu_location[i+1][-1][1]:
        if juyu_location[i][-1][0] == juyu_location[i+1][-1][0]:
            count +=1

In [94]:
result=[]
for i in juyu_location:
    result.extend(i)

In [95]:
cc=result

In [103]:
juyu_location[0]

['광호주유소',
 '서울특별시 서대문구 홍은동 431번지 ',
 '서울특별시 서대문구 연희로 266 (홍은동)',
 ['37.5807121', '126.9343882']]

In [295]:
juyu_location = pd.DataFrame(juyu_location)

In [300]:
juyu_location.head(1)

            0            1
0  37.5806434  126.9342567

In [321]:
juyu_location=juyu_location.rename(columns={1:"Y"})
# df = df.rename(columns = {'Column Name': 'New Name'})

In [323]:
juyu_location.to_csv("juyuso_seoul.csv")

In [327]:
result=[]
for i in juyu_new:
    result.extend(i)

In [333]:
result[0]

['37.5806434', '126.9342567']

In [335]:
m= folium.Map([result[0][0],result[0][1]])

In [337]:
for i in range(len(result)-1):
    folium.Marker([result[i][0],result[i][1]]).add_to(m)

In [149]:
juyu_location_raw_1=juyu_location_raw.copy()

In [150]:
for i in range(len(juyu_location_raw_1)):
    juyu_location_raw_1[i].extend(juyu_location_raw_1[i][3])

In [154]:
ka=pd.DataFrame(juyu_location_raw_1)

In [157]:
ka.drop(columns=[3,6,7,8,9,10,11], inplace=True)

In [161]:
ka.head()

,0,1,2,4,5
0,광호주유소,서울특별시 서대문구 홍은동 431번지,서울특별시 서대문구 연희로 266 (홍은동),37.5807121,126.9343882
1,(주)안국에너지 삼보주유소,서울특별시 서대문구 연희동 194-32번지,서울특별시 서대문구 연희로 78 (연희동),37.5649687,126.9277413
2,(주)중앙에너비스동교지점,서울특별시 서대문구 창천동 512-3번지,서울특별시 서대문구 연희로 12 (창천동),37.5614034,126.9304364
3,연희주유소,서울특별시 서대문구 연희동 89-7번지,서울특별시 서대문구 연희로 129 (연희동),37.5692438,126.9303007
4,삼미상사(주) 서부주유소,서울특별시 서대문구 연희동 446-4번지,서울특별시 서대문구 성산로 255 (연희동),37.5677169,126.9167661

In [168]:
ka['동']=ka.iloc[:,1].str.split(" ", n = 3, expand = True).iloc[:,2]

In [172]:
ka.to_csv("forga.csv",encoding='cp949')

In [170]:
len(juyu_location_raw)

539

In [143]:
juyu_location=pd.read_csv("11.csv")

In [146]:
for i in range(len(juyu_location)):
    juyu_location[i].extend(juyu_location[i][3])

KeyError: 0